*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
width: 90%;
/* max-width: 600px; */
height: 600px;
outline: 2px solid #000;
margin: 30px auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: flex-start;
/* align-items: baseline; */
/* align-items: flex-end; */
/* align-items: flex-start; */
/* align-items: center; */
/* align-items: stretch; */

}


.item{
    /* width: 90px; */
    width: 150px;
    --height: 80px;
    background: tomato;
    height: var(--height);
    line-height: var(--height);
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
 
 
    /*
    flex-grow divide el espacio de manera equitatva
     pero ya no se puede usar justify-content
    pero aling-items si se puede usar*/
    /* flex-grow: 1; */


    /*los tamaños se encojen*/
flex-shrink: 1;

}


.item1{
 flex-shrink: 3;
}

.item2{
    background: darkslateblue;
}

.item3{
    /* flex-grow: 1; */
    background: crimson;
}

.item4{
background: steelblue;
}