*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
}

.container{
    width: 450px;
    height: 530px;
    margin: 20px auto;
    border: 5px solid crimson;
    position: relative;
}


.box{
    background: steelblue;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
}

.static{
    position: static; /* valor por defecto */
}

.relative{
    background: crimson;
    position: relative;
    /* top: 10em; */
    /* left: 200px; */
    /* right: 40px; */
    /* bottom: ; */
}


/*esto se posiciona por el padre que es el container que se le puso un position relative
si se le quita  el cuado absolute se sale del borde rojo*/
.absolute{
background: purple;
position: absolute;
top: 20px;
right: 0;

}