*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;    
}

*,
*::before, 
*::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

ul, ol{
list-style: none;
}

a{
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

p a{
    display: inline;
    
}

img, video, iframe, picture, figure{
    max-width: 100%;
    display: block;
}

form, input, select, button, label, textarea{
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}