@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --gradient:linear-gradient(135deg,#667eea,#764ba2 100%);
    --gradient1:linear-gradient(135deg,#667eea86,#764ba28e 100%);
    --url-img:url('../../../img/imagen4.jpg');
    --box-shadow: 6px 6px 10px rgba(0,0,0,.6);
    --width:100%;
    --radius:8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Raleway', sans-serif;
    min-height: 100vh;
    background-image: var(--gradient1), var(--url-img);
    background-size: cover;
    background-position: center;
}


.form{
    width: 400px;
    background: #fff;
    margin: 70px auto;
    padding: 30px 20px 40px;
    text-align: center;
    border-radius: (var(--radius));
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.input{
    width: var(--width);
    padding: 20px 5px;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #b39b9b;
    outline: none;
}

.input, .form_submit{
    font-family: inherit;
}

.form_title{
margin-bottom: 40px;
font-size: 2rem;
}

.form_message{
    max-width: var(--width);
    min-width: var(--width);
    max-height: 150px;
    min-height: 150px;
}

.form_submit{
    display: block;
    width: var(--width);
    font-size: 18px;
    background-image: var(--gradient);
    padding: 15px 30px;
    border: none;
    color:#fff;
    font-weight: 700;
    cursor: pointer;
}

.form_submit:hover{
    background-image: var(--gradient1);
    
}