*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    outline: 1px solid #000;
    width: 90%;
    height: 500px;
    margin: 30px auto;
    
}



.element {

   background: crimson;
   width:120px;
   height:120px;
   color:#fff;
   font-family:'Arial';
   position:relative;    

   /* transition: todos los elementos -> all duracion-> 1s; */
   transition: all 1s;
   left: 0;
}


.container:hover .element {
    left: 180px;
    background: steelblue;
    
}