*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    outline: 1px solid #000;
    width: 90%;
    height: 500px;
    margin: 30px auto;
    
}



.element {
   background: crimson;
   width:120px;
   height:120px;
   color:#fff;
   font-family:'Arial';
   left: 0;
   position:relative;    
   /* transition: propety | duration | timing-function | delay; */
   clip-path: circle(70%);
    transition-property:clip-path, transform;
    transition-duration: .5s, 1s;
    /* 
    transition-delay: tarda dos segundos en iniciar la transicion -> 2s;
    
    */
    transition-delay: 0s, .5s;
    
    
}


.container:hover .element {
    clip-path: circle(50%);
    transform: translate(100%);
}