*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    background: orangered;
    width:200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    /* border: width style color; */
    /* border: 10px solid brown; */
    border-width: 20px 30px;
    /* border-style: top right bottom left; */
    /* border-style: groove; */
    border-style: groove dashed;    
    border-color: brown steelblue crimson white;

}


.card{
    width: 400px;
    margin: 20px auto;
    padding: 20px 0;
    border: 1px solid black;
}

.img{
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 50%;
}

.name{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.cta{
    display: block;
    width: 150px;
    background: crimson;
    border-radius: 3px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    margin: 20px auto;
}

 







