*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}


:root{
    --padding-copntainer:4rem 0;
    --font-body:'Open Sans', sans-serif;
    --fon-heading:'Poppins', sans-serif;
    --pink:hsl(322,100%,66%);
    --light-pink:hsl(321,100%,78%);
    --light-red  :hsl(0,100%,63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
--very-pale-blue: hsl(207, 100%, 98%);
}

body{
    font-family: var(--font-body);
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-copntainer);
}

.hero{
    min-height: 100vh;
    position: relative;
--wave-bottom:url('../huddle-landing-page-with-curved-sections-master/images/bg-section-top-mobile-1.svg');
}

.hero__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-copntainer:4rem 0 3rem;
}


.hero__logo{
    width: 45%;
    max-width: 160px;
}

.hero__huddle{
    width: 100%;
    display: block;
}

.hero__cta{
    color: var(--light-pink);
    border: 2px solid;
    padding: .3em 1em;
    border-radius: 2em;
    text-decoration: none;
    box-shadow: 0 0 1px hsla(192,100%,9%, .5);
}

.hero__main{
    text-align: center;
    color:var(--very-dark-cyan);
}

.hero__texts{
    display:grid;
    gap:1em;
}

.hero__title{
    font-family: var(--fon-heading);
}

.hero__paragraph{
width: 90%;
margin: 0 auto;
line-height: 1.5;

}


.cta{
    display: inline-block;
    background-color: var(--pink);
    color: #fff;
    text-decoration: none;
    justify-self: center;
    padding: 1em;
    border-radius: 2em;
    margin-top: 1em;
    font-weight: 600;
    box-shadow: -5px 8px 16px -10px hsla(192,100%,9%, .5);
}


.hero__picture{
    margin-top: 5em;

}

.hero__img{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display:block;
}

.hero__numbers{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.hero__item{
    overflow: hidden;
    margin-bottom: 2em;

}


.hero__number{
    font-size: 3.5rem;
}


.hero__icon{
    display: block;
}

.wave{
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wave--bottom{
    left: 0;
    bottom: 0;
    background-image: var(--wave--bottom);
}

.wave--top{
    left: 0;
    top: 0;
    background-image: var(--wave--top);
}

.section{
    background-color: var(--very-pale-blue);
    --pading-container:7rem 0;
}

.section--white{
    position: relative;
    background-color: #fff;
    --wave-top:url('../huddle-landing-page-with-curved-sections-master/images/bg-section-top-mobile-1.svg');
    --wave-bottom:url('../huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-mobile-2.svg');
}


.section_img{
    width: 100%;
    max-width: 350px;
    display:block;
    margin: 0 auto;
}