*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


.navegacion{
    transform: translateY(-100%);
    animation-name:botarmenu ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.menu li{
font-size: 20px;
padding:15px;
}


@keyframes botarmenu{
    
0%{
    transform: translateY(-100%);
}
50%{
    transform:translateY(0%);
}

100%{
    transform: translateY(-100%);
}

}