*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.grid {
    width: 90%;
    max-width: 600px;
    height: 600px;
    margin: 30px auto;
    outline: 3px solid #000;
    display: grid;
grid-template-columns: repeat(4,[linea-start] 1fr [linea-end]); 
grid-template-rows: repeat(3,[row-start] 1fr [row-end]); 
}


.grid__item {
    padding: 20px 0;
    font-size: 2rem;
    color:#fff;
    text-align: center;
}


.grid :nth-child(1){
    background: slateblue;
 grid-column:linea-start 2 / linea-start 4;
 grid-row:row-start 2 /row-end 2;
}

.grid :nth-child(2){
    background: crimson;
 
}

.grid :nth-child(3){
    background: coral;
}

.grid :nth-child(4){
    background: indigo;
}